@font-face {
  font-family: Butler;
  src: url('/fonts/Butler.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Butler;
  src: url('/fonts/Butler-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Butler;
  src: url('/fonts/Butler-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Butler;
  src: url('/fonts/Butler-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: butler-fallback;
  size-adjust: 105%;
  src: local('Georgia');
}

:root {
  --heading-font-family: butler, butler-fallback, serif;
  --body-font-family: roboto, roboto-fallback, sans-serif;
  --background-color: #e8e7e2;
  --light-color: #f5f5f3;
  --dark-color: #00344b;
  --text-color: #8c8c8c;
  --link-color: #00344b;
  --link-hover-color: #005a82;
  --brand-primary: #00344b;
  --brand-accent: #6aaf8b;
  --brand-warm-grey: #e8e7e2;
  --brand-white: #fff;
  --heading-font-size-xxl: 36px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --section-padding: 40px 0;
  --nav-height: 70px;
  --content-max-width: 1140px;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 40px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 40px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 27px;
    --heading-font-size-xs: 20px;
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
  }
}
